<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Mitgliedschaft-Manager</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    {#include fragments/header.html /}

<main>
    {#insert body}{/insert}
</main>

    {#include fragments/dialogs.html /}

<script src="/js/ConfirmationDialog.js"></script>
<script src="/js/mobileMenu.js"></script>
</body>
</html>
